{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input class="form-control" name="newpass" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="newconfirm" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</Register>
    </form>
{% endblock %}
