{% extends "layout.html" %}

{% block title %}
    Confirmation
{% endblock %}

{% block main %}
    <div>
        <p class="confirmation">
            Are you sure you want to retrieve this task? It will be marked as incomplete and appear on your main task list again.
        </p>
    </div>
    <div>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Tag</th>
                    <th>Task Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class="{{task["tag"]}}">{{task["date"]}}</td>
                        <td class="{{task["tag"]}}">{{task["start"]}} <br>to<br> {{task["end"]}}</td>
                        {% if task["tag"]=="None" %}

                        <td class="{{task["tag"]}}"></td>

                        {% else %}

                        <td class="{{task["tag"]}}">{{task["tag"]}}</td>

                        {% endif %}
                        <td class="{{task["tag"]}}">{{task["description"]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <form action="/retrieve" method="post" class="confirmsubmit" >
            <input hidden name="thistask" value={{tasks[0]["task_id"]}} type="number">

            <input hidden name="confirmed" value="true" type="text">
            <button class="btn btn-primary" type="submit">Yes</button>
        </form>

        <form action="/complete" method="post" class="confirmsubmit">
            <input hidden name="thistask" value={{tasks[0]["task_id"]}} type="number">

            <input hidden name="confirmed" value="false" type="text">
            <button class="btn btn-primary" type="submit">No</button>
        </form>
    </div>
{% endblock %}
