{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="dropdown">
            <select class="form-control" name="symbol" id="symbol">
                <option disabled selected value>Symbol</option>
                {% for stock in stocks %}
                    <option value={{stock["company"]}}>{{stock["company"]}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
